#AppFooter{ /*Footer Component style*/
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 7;
    transition: var(--fast);
    text-align: right;
    align-items: flex-end;
    background-color: rgb(var(--basecolor), 0.7);
    border-top: 1px solid rgba(var(--fontcolor),.35);
}
#AppFooter:hover {
    background-color: rgb(var(--basecolor),1);
    font-size: 1rem;
}
.Footeritem{
    margin: auto;
    font-size: 0.7rem;
    cursor: pointer;
    color:rgb(var(--white),0.7);
    transition: calc(var(--fast));
    height: 100%;
    width: auto;
    align-self: center;
    border-radius: 7px;
    padding: 3px;
    border: 1px solid transparent;
}
.Footeritem:hover{
    color: rgb(var(--white),1);
    background-color: rgb(var(--white),0.35);
    border-color: rgb(var(--white),0.7);
}
.SocialMedPlatforms{
    width: max-content;
    padding: 0rem 0.7rem;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.Author{
    color: rgba(255,255,255,.35);
    font-size: 0.7rem;
    text-align: right;
    position: sticky;
    bottom: 0px;
    padding: 0 1rem 0 0;
}
.SocialMedPlatforms > a{
    margin: 0.14rem 1rem 0 1rem;
}
.showFooter{
    bottom: 0px;
}
.hideFooter{
    bottom: -100%;
}