.NavBarContainer{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    box-shadow: 7px 1px 21px white;
    z-index: 1;
}
.LogoContainer{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
}
.MenuButtom{
    color: rgb(var(--htyellow));
    background-color: rgb(var(--htred));
    border: 1px solid white;
    padding: 3.5px 7px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 2px transparent;
    border-radius: 7px;
    margin: auto;
}
.MenuButtom:hover{
    color: darkred;
    background-color: white;
    border: 1px solid darkgoldenrod;
    text-shadow: 1px 1px 1px darkred;
    box-shadow: 2px 2px 2px darkgoldenrod;
    transition: 70ms;
}