.NavBarContainer{
    width: calc(100vw - 7px);
    display: flex;
    justify-content: space-evenly;
    gap: 3.5px;
    padding: 3px 2px;
    height: calc(100% - 35px);
    background-color: black;
    box-shadow: 0px 3.5px 3.5px rgb(255,255,255,0.21);
}
.EngTitle{
    color: white;
}
.Picture{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 7px;
}
.LogoContainer{
    position: relative;
    display: block;
    width: 7vw;
    height: 7vw;
    align-self: center;
}
.BranchIcon{
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px;
    box-shadow: 2px 2px 7px rgba(210,210,210,0.7);
}
.TitleNavBar{
    height: max-content;
    margin: auto;
    font-size: clamp(0.6rem, 0.7rem, 1.1rem);
    text-align: center;
    font-weight: bolder;
    color: white;
}
.MenuButtom{
    color: rgb(var(--htyellow));
    background-color: rgb(var(--htred));
    border: 1px solid white;
    padding: 3px 7px;
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-flow: column nowrap;
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 2px transparent;
    border-radius: 7px;
    margin: auto;
    transition: var(--norm);
    height: 100%;
    align-content: center;
}
.MXNFlag{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 100%;
}
.MenuButtom:hover{
    color: darkred;
    background-color: white;
    border: 1px solid darkgoldenrod;
    text-shadow: 1px 1px 1px darkred;
    box-shadow: 2px 2px 2px darkgoldenrod;
    transition: 70ms;
}
.restaurantji{
    width: 70px;
    margin: auto;
}

/* Grupo para dispositivos iPhone 5 a iPhone 12 Max en orientación vertical */
@media only screen and (max-device-width: 428px) and (orientation: portrait) {
  .NavBarContainer{
      width: 100vw;
      height: 100%;
      font-size: 0.9rem;
      flex-flow: row nowrap;
      white-space: nowrap;
      overflow: auto;
      position: relative;
  }
  .BranchIcon{
    display: none;
  }
  .LogoContainer{
      display: none;
  }
  .MenuButtom{
      border: 1px solid white;
      border-radius: 7px;
      padding: 3px 7px;
      background-color: rgba(14,35,49,0.7);
      width: 70vw;
      height: max-content;
      margin: auto;
      font-weight: 400;
  }
  .MenuButtom:hover{
      color: darkred;
      background-color: white;
      border: 1px solid darkgoldenrod;
      text-shadow: 1px 1px 1px darkred;
      box-shadow: 2px 2px 2px darkgoldenrod;
      transition: 70ms;
  }
  .restaurantji{
    display: none;
  }
}
  
  /* Grupo para dispositivos iPad y otros dispositivos en orientación vertical */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Estilos para dispositivos iPad y otros dispositivos en orientación vertical */
    /* Aquí puedes mostrar el menú en orientación horizontal */
    .menu {
      display: block; /* Por ejemplo, cambiar a block para mostrar el menú */
    }
  }