.Menu{
    width: calc(100vw - 7px);
}
.MenuSectionsContainer{
    position: sticky;
    top: calc(6.5vw);
    z-index: 1;
    background-color: black;
}
.Sections{
    width: 84vw;
    margin: auto;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0.35rem;
    border: 1px solid rgba(255,255,255,0.49);
    border-radius: 14px 14px 7px 7px;
}
.SectionLink{
    padding: 3.5px 14px;
    border: 1px solid rgb(var(--htred));
    border-radius: 7px;
    background-color: rgb(var(--htyellow));
    color: white;
    margin: 0 0.35rem;
    white-space: nowrap;
}
.SectionLink:hover{
    color: darkred;
    background-color: white;
    border: 1px solid darkgoldenrod;
    text-shadow: 1px 1px 1px darkred;
    box-shadow: 2px 2px 2px darkgoldenrod;
    transition: 70ms;
}
.SectionMenu{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: calc(100vw - 7px);
    justify-content: space-evenly;
}
.SectionMenuTitle{
    font-size: 3rem;
    padding: 1rem;
    font-style: italic;
}
.MenuElements{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
}

@media only screen and (max-device-width: 428px) and (orientation: portrait) {
    .Menu{
        width: 100vw;
    }
    .MenuSectionsContainer{
        position: relative;
    }
    .Sections{
        width: 100vw;
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0px;
    }
    .SectionLink{
        border-radius: 3.5px;
        margin: 0 0.14rem;
    }
    .SectionMenu{
        width: 100vw;
    }
    .SectionMenuTitle{
        font-size: 1.4rem;
        padding: 0.7rem;
    }
    .MenuElements{
        width: 100vw;
    }
}

@media only screen and (max-device-width: 900px) and (orientation: landscape) {
    .MenuSectionsContainer{
        position: relative;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    .MenuSectionsContainer{
        position: relative;
    }
}
@media only screen and (max-device-width: 1366px) and (orientation: landscape) {
    .MenuSectionsContainer{
        position: relative;
    }       
}