.CustomerExperience{
    display: flex;
    /* height: 100vh; */
    flex-flow: column nowrap;
    justify-content: space-between;
}
.Banner{
    height: 7rem;
}
.CustExpCont{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    margin: 1rem;
    border-radius: 14px;
    width: calc(100vw - 2rem);
    /* height: calc(100vh - 4rem); */
    border: 1px solid white;
    background-color: transparent;
}

.ProgressBarCont{
    display: block;
    position: relative;
}
.ProgressBarBorder{
    width: 70%;
    margin: auto;
    border-radius: 7px;
    height: 9px;
    border: 1px solid rgba(var(--htred),1);
}
.ProgressBarBackground{
    position: absolute;
    margin: auto;
    border-radius: 3.5px;
    height: 7px;
    border: 1px solid white;
    background-color: rgba(var(--htyellow),1);;
    transition: 1s;
}

.Stars, .Question{
    margin: 1rem;
    padding: 1rem;
    /* border: 1px solid white; */
    width: calc(100% - 2rem);
    border-radius: 7px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.Question{
    font-size: 3.5rem;
}
.IconFace{
    width: 18%;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0px 0px 7px black;
}
.IconFace:hover{
    box-shadow: 0px 0px 14px white;
}
.comments{
    width: 91%;
    height: clamp(2rem, 5rem, auto);
    color: black;
    resize: none;
    overflow: scroll;
    word-wrap: break-word;
    border-radius: 7px;
    padding: 7px;
    margin: 1rem auto;
}