.MIDiv{
    position: relative;
    display: block;
    width: clamp(210px, 21%, 350px);
    text-align: left;
    margin: 2rem auto;
}
.MITitle{
    font-size: larger;
    color: rgb(var(--htyellow));
    font-weight: bolder;
}
.MIPrice{
    font-size: larger;
    width: 100%;
    text-align: left;
    color: rgba(var(--htred),0.7);
    font-weight: bolder;
}
.MIDescription{
    text-align: left;
    height: 9rem;
    font-size: fit-content;
    overflow-y: auto;
}
.MIZoom{
    width: 21vw;
    height: 21vw;
    border: 2px solid white;
    margin: 1rem auto;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0px 2px 5px white;
}
.MIImg{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 1400ms;
}
.MIImg:hover{
    width: 110%;
    height: 110%;
}

/* Grupo para dispositivos iPhone 5 a iPhone 12 Max en orientación vertical */
@media only screen and (max-device-width: 428px) and (orientation: portrait) {
    .MIDiv{
        width: 93%;
        margin: 0rem auto;
    }
    .MITitle{
        font-weight: normal;
    }
    .MIPrice{
        font-weight: normal;
    }
    .MIDescription{
        height: max-content;
        font-size: fit-content;
    }
}