.LandingContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    width: 100vw;
    height: 100vh;
}
.Logos{
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 1rem;
    justify-content: space-around;
}
.LogoCont{
    display: block;
    position: relative;
    width: 14vw;
    height: 14vw;
}
.Links{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: auto;
}
.Link{
    border: 1px solid white;
    background-color: rgba(var(--redX),0.5);
    padding: 1rem;
    border-radius: 14px;
    width: 70vw;
    margin: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: var(--fast);
}
.Link:hover{
    background-color: rgba(var(--darkredmate),1);
    color: rgba(var(--yellowmate),1);
}
.Link:last-child{
    background-color: rgba(var(--darkredmate),1);
    color: rgba(var(--yellowmate),1);
}
.SMR{
    margin: auto;
    display: flex;
}