.Main{
    width: calc(100vw - 7px);
    display: grid;
    background: black;
    color: white;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr 1fr;
    gap: 0.35rem 0;
    grid-template-areas: 
    'Header      Header'
    'Player      Player'
    'Branch      Branch'
    'Navbar      Navbar'
    'Slider      Schedule'
    'Menus       Menus'
    'PowerBi     PowerBi'
    'Maps        Maps'
    'Footer      Footer'
    ;
}
.ImgsContainer{
    height: 210px;
    /* overflow: hidden; */
}
.PlayerCont{
    grid-area: Player;
    text-align: center;
}
.PlayerImg{
    margin: auto;
    height: 210px;
    width: 450px;
    border-radius: 14px;
}
.PlayerPlay{
    position: relative;
    margin: auto;
    top: -105px;
}
.PlayerLogo{
    position: relative;
    margin: auto;
    top: -250px;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    left: 180px;
    border-radius: 7px;
}
#GridCont1{
    grid-area: Header;
}
#GridCont2{
    grid-area: Navbar;
    position: sticky;
    top: 0px;
    z-index: 2;
}
#GridCont3{
    grid-area: Slider;
    width: max-content;
    margin: auto;
    overflow: hidden;
}
#GridCont4{
    grid-area: Schedule;
    width: calc(min-content, max-content, 100vw);
    margin: auto;
}
#GridCont5{
    grid-area: Menus;
}
#GridCont6{
    grid-area: PowerBI;
}
#GridCont7{
    grid-area: Maps;
}
#GridCont8{
    grid-area: Footer;
}
#GridCont9{
    grid-area: Player;
    z-index: 0;
}
#GridCont10{
    grid-area: Branch;
}
.HeaderLogo{
    position: relative;
    display: block;
    width: 93vw;
    height: 14vw;
    z-index: 1;
}
.Catrina{
    position: fixed;
    display: block;
    width: 14vw;
    height: 14vw;
    z-index: 3;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid whitesmoke;
    transition: 700ms;
}
.HeadParagraph2{
    font-size: 1.4rem;
    color: white;
    display: block;
    background-color: rgba(70,70,70,0.7);
    text-align: center;
    width: calc(100vw - 7px);
}
.HeadParagraph2 > strong{
    color: red;
}
.HeadParagraph3{
    color: white;
    display: block;
    text-align: center;
    width: calc(100vw - 7px);
}
.HeadParagraph4{
    color: rgba(var(--htyellow),1);
    display: block;
    margin: 3.5px auto;
    float: right;
    background-color: rgba(210,140,70,0.35);
    font-size: 0.7rem;
    text-align: center;
    width: max-content;
    border-bottom: 1px solid gray;
    padding: 0 3px;
    border-radius: 7px;
}
.HeadParagraph4 > strong{
    color: yellow;
    font-size: 1rem;
    cursor: pointer;
}
.MI{
    border: 2px solid red;
    width: calc(100vw - 7px);
    height: 700px;
    margin: 1rem auto;
    border-radius: 7px;
    overflow: hidden;
}
.PowerBI{
    width: calc(100vw - 7px);
    height: calc(100%);
}
.PhoneLink{
    color: rgba(var(--htyellow),0.7);
}
.Branches{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-around;
}
.BusinessHours{
    margin: auto;
    border-radius: 7px;
    width: calc(min-content, max-content, 100vw);
}
.SEOEspañol,
.SEOEnglish{
    text-align: center;
    padding: 1rem;
    width: auto;
    margin: auto;
}
.SEOEspañol{
    color: rgba(var(--white),1);
}
.SEOEnglish{
    color: rgba(var(--htyellow),1);
}
.ScheduleDay,
.ScheduleOpen,
.ScheduleClose{
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    border: 0.7rem solid transparent;
    padding: 0.14rem 0.7rem;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
.ScheduleDay{
    text-align: right;
}
.TableHead > .ScheduleRow:nth-child(1){
    background-color: rgba(var(--htred),0.35);
}



/* Grupo para dispositivos iPhone 5 a iPhone 12 Max en orientación vertical */
@media only screen and (max-device-width: 428px) and (orientation: portrait) {
    .Main{
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'Header     '
        'Branch     '
        'Navbar     '
        'Slider     '
        'Schedule   '
        'Player     '
        'Menus      '
        'PowerBi    '
        'Maps       '
        'Footer     '
        ;
    }
    #GridCont3{
        width: calc(100vw - 7px);
    }
    .HeaderLogo{
        /* width: 100vw; */
        height: 14vw;
    }
    .HeadParagraph2{
        font-size: 1rem;
        width: 100vw;
    }
    .HeadParagraph3{
        font-size: 0.7rem;
        width: 100vw;
    }
}
  
  /* Grupo para dispositivos iPad y otros dispositivos en orientación vertical */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Estilos para dispositivos iPad y otros dispositivos en orientación vertical */
    /* Aquí puedes mostrar el menú en orientación horizontal */
    .menu {
      display: block; /* Por ejemplo, cambiar a block para mostrar el menú */
    }
  }
  