
.Main{
    width: calc(100vw - 7px);
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: repeat(7, calc(1/7));
    grid-template-areas: 
        'Header     Header      Header     Header       Header      Header      Header'
        'Navbar     Navbar      Navbar     Navbar       Navbar      Navbar      Navbar'
        'Slider     Slider      Slider     Slider       Slider      Slider      Slider'
        'Squedule   Squedule    Squedule   Squedule     Squedule    Squedule    Squedule'
        'Menu       Menu        Menu       Menu         Menu        Menu        Menu'
        'PowerBi    PowerBi     PowerBi    PowerBi      PowerBi     PowerBi     PowerBi'
        'Map        Map         Map        Map          Map         Map         Map'
        'Footer     Footer      Footer     Footer       Footer      Footer      Footer'
    ;
}
#GridCont1{
    grid-area: 'Header';
    border: 1px solid red;
}
#GridCont2{
    grid-area: 'NavBar';
    border: 1px solid white;
}
#GridCont3{
    grid-area: 'Slider';
    width: max-content;
    margin: auto;
    border: 1px solid blue;
}
#GridCont4{
    grid-area: 'Squedule';
    border: 1px solid green;
}
#GridCont5{
    grid-area: 'Menu';
    border: 1px solid yellow;
}
#GridCont6{
    grid-area: 'PowerBI';
    border: 1px solid brown;
}
#GridCont7{
    grid-area: 'Map';
    border: 1px solid purple;
}
#GridCont8{
    grid-area: 'Footer';
    border: 1px solid pink;
}
.HeaderLogo{
    position: relative;
    display: block;
    width: 90%;
    height: 140px;
    z-index: 1;
}
.Catrina{
    position: fixed;
    display: block;
    width: 210px;
    height: 210px;
    z-index: 3;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid white;
    transition: 700ms;
}
.HeadParagraph2{
    font-size: 2.1rem;
    color: white;
    display: block;
    text-align: center;
}
.HeadParagraph3{
    color: white;
    display: block;
    text-align: center;
}
.MI{
    border: 2px solid red;
    width: 100%;
    height: 700px;
    margin: 1rem auto;
    border-radius: 7px;
    overflow: hidden;
}
.PowerBI{
    width: 100%;
    height: calc(100%);
}
.PhoneLink{
    color: rgba(var(--htyellow),0.7);
}
.BusinessHours{
    margin: auto;
    border-radius: 7px;
}
.ScheduleDay,
.ScheduleOpen,
.ScheduleClose{
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    border: 0.7rem solid transparent;
    padding: 0.14rem 0.7rem;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
.ScheduleDay{
    text-align: right;
}
.TableHead > .ScheduleRow:nth-child(1){
    background-color: rgba(var(--htred),0.35);
}



/* Grupo para dispositivos iPhone 5 a iPhone 12 Max en orientación vertical */
@media only screen and (max-device-width: 428px) and (orientation: portrait) {
    .HeaderLogo{
        width: 100%;
        height: 70px;
    }
    .Catrina{
        width: 70px;
        height: 70px;
        right: 100px;
    }
    .HeadParagraph2{
        font-size: 1.4rem;
    }
    .HeadParagraph3{
        font-size: 0.7rem;
    }
  }
  
  /* Grupo para dispositivos iPad y otros dispositivos en orientación vertical */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Estilos para dispositivos iPad y otros dispositivos en orientación vertical */
    /* Aquí puedes mostrar el menú en orientación horizontal */
    .menu {
      display: block; /* Por ejemplo, cambiar a block para mostrar el menú */
    }
  }
  